{% extends "network/layout.html" %}
{% load custom_tags %}
{% block body %}
    <h3>{{ title }}</h3>
    {% if user.is_authenticated and show_new_post_field %}
    <div class="card">
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <label for="new-post"><h5 class="card-title">New Post</h5></label>
            <textarea
                name="new-post"
                id="new-post"
                placeholder="What's happening?"
                required
            ></textarea>
            <input class="btn btn-primary mt-3" style="width: fit-content;" type="submit" value="Post">
        </form>
    </div>
    {% endif %}
    {% feed posts pagination %}
{% endblock %}