{% extends "network/layout.html" %}

{% block body %}
    <h3>All Posts</h3>
    {% if user.is_authenticated %}
    <div class="card">
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <label for="new-post"><h5 class="card-title">New Post</h5></label>
            <textarea
                name="new-post"
                id="new-post"
                placeholder="What's happening?"
                required
            ></textarea>
            <input class="btn btn-primary mt-3" style="width: fit-content;" type="submit" value="Post">
        </form>
    </div>
    {% endif %}
    {% for post in posts %}
        <div class="card">
            <h5 class="card-title mb-0 py-2"><a href="{% url 'profile' post.author.username %}">{{post.author}}</a></h5>
            <p class="card-text mb-0 py-2">{{post.content}}</p>
            <p class="text-muted mb-0 py-2">{{post.timestamp}}</p>
            <div class="likes">
                <img src="../../static/icons/heart.svg" width="24" height="24" class="my-2">
                <span>0</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}