{% extends "network/layout.html" %}
{% load custom_tags %}
{% block body %}
    <h3>{{ title }}</h3>
    {% if user.is_authenticated and show_new_post_field %}
    <div class="card">
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <label for="new-post"><h5 class="card-title">New Post</h5></label>
            <textarea
                name="new-post"
                id="new-post"
                placeholder="What's happening?"
                required
            ></textarea>
            <input class="btn btn-primary mt-3" style="width: fit-content;" type="submit" value="Post">
        </form>
    </div>
    {% endif %}
    {% feed posts %}
    <nav aria-label="Tweets pagination" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if not pagination.is_first_page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagination.previous_page }}" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for page_button in pagination.page_buttons %}
                {% if page_button == pagination.page_number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>                
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>
                {% endif %}
            {% endfor %}
            {% if not pagination.is_last_page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagination.next_page }}" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}