{% extends "network/layout.html" %}
{% load custom_tags %}
{% block body %}
    <h2>{{ username }}</h2>
    {% if user.is_authenticated and username != user.username %}
      <form method="post" action="{% url 'toggle_follow' %}">
        {% csrf_token %}
        <input name="follower" value="{{ user.username }}" type="hidden">
        <input name="followee" value="{{ username }}" type="hidden">
        {% if is_following_profile_user %}
          <input name="_method" value="DELETE" type="hidden">
          <input class="btn btn-secondary" style="width: fit-content;" type="submit" value="Following">
        {% else %}
          <input class="btn btn-primary" style="width: fit-content;" type="submit" value="Follow">
        {% endif %}
        </form>
    {% endif %}
      <section class="container text-center my-4">
        <div class="row">
          <div class="col-sm">{{ posts_count }}</div>
          <div class="col-sm">{{ followers_count }}</div>
          <div class="col-sm">{{ following_count }}</div>
        </div>
        <div class="row">
          <div class="col-sm">Posts</div>
          <div class="col-sm">Followers</div>
          <div class="col-sm">Following</div>
        </div>
      </section>
      {% feed posts pagination user.username %}
{% endblock %}