{% for post in posts %}
    <div class="card position-relative" data-post="{{ post.id }}">
        <h5 class="card-title mb-0 py-2"><a href="{% url 'profile' post.author.username %}">{{post.author}}</a></h5>
        <div class="edit-post"></div>
        <p class="content card-text mb-0 py-2">{{ post.content }}</p>
        <div class="dates">
            <span class="text-muted mb-0 py-2 creation-date">{{ post.creation_date }}</span>
            {% if post.last_edit_date %}
                <span class="text-muted mb-0 edit-date">Edited on: {{ post.last_edit_date }}</span>
            {% endif %}
        </div>
        <div class="likes">
            {% if username %}
                {% if post.is_liked %}
                    <button class="like-button d-none">
                        <img src="../../static/icons/heart.svg" width="24" height="24" class="my-2">
                    </button>
                    <button class="like-button liked">
                        <img src="../../static/icons/heart-fill.svg" width="24" height="24" class="my-2">
                    </button>
                {% else %}
                    <button class="like-button">
                        <img src="../../static/icons/heart.svg" width="24" height="24" class="my-2">
                    </button>
                    <button class="like-button liked d-none">
                        <img src="../../static/icons/heart-fill.svg" width="24" height="24" class="my-2">
                    </button>
                {% endif %}
            {% endif %}
            <span class="likes-count">{{ post.likes_count }}</span>
            {% if not username %}
                <span class="d-inline-block my-2">Likes</span>
            {% endif %}
        </div>
        {% if post.author.username == username %}
            <input data-post="{{ post.id }}" class="edit-button btn btn-light position-absolute" style="width: fit-content; top: 5; right: 12px;" type="submit" value="Edit">
        {% endif %}
    </div>
{% endfor %}
{% if posts %}
<nav aria-label="Tweets pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if not pagination.is_first_page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagination.previous_page }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
        {% endif %}
        {% for page_button in pagination.page_buttons %}
            {% if page_button == pagination.page_number %}
                <li class="page-item active"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>                
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>
            {% endif %}
        {% endfor %}
        {% if not pagination.is_last_page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagination.next_page }}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<script type="module">
    import { handleSubmitEdit, handleCancelEdit, handleLikeClick } from '../../../static/handlers/index.js'
    import { $$ } from '../../../static/utils/index.js'

    const $buttons = $$(".edit-button")

    $buttons.forEach($button => {
        $button.onclick = () => {
            const postId = $button.dataset.post
            const $contentParagraph = $button.parentElement.querySelector('.content')
            const content = $contentParagraph.innerText
            $$('.content').forEach((elem) => elem.style.display = 'block')
            $$('.edit-post').forEach((elem) => elem.style.display = 'none')
            $contentParagraph.style.display = 'none'
            $buttons.forEach((elem) => elem.style.display = 'block')
            const $editFormContainer = $button.parentElement.querySelector('.edit-post')
            $editFormContainer.style.display = 'block'
            $editFormContainer.innerHTML = `
                <form method="POST">
                    <input type="hidden" name="_method" value="PUT"/>
                    <textarea
                        name="edit-post"
                        class="edit-post-form"
                        required
                    ></textarea>
                    <div>     
                        <input class="submit-edit btn btn-primary mt-3" style="width: fit-content;" type="submit" value="Update">               
                        <input class="cancel-edit btn btn-danger mt-3" style="width: fit-content;" type="button" value="Cancel">
                    </div>
                </form>
            `
            $button.style.display = 'none'
            const $editPostForm = $editFormContainer.querySelector('.edit-post-form')
            $editPostForm.value = content
            $editPostForm.focus()
            $editFormContainer.querySelector('.cancel-edit').onclick = () => handleCancelEdit(postId)
            $editFormContainer.querySelector('.submit-edit').onclick = () => handleSubmitEdit(postId, $editPostForm.value)
        }
    })

    const $likeContainers= $$(".likes")

    // TO DO: remove data-post from edit button

    $likeContainers.forEach($likeContainer => {
        const postId = $likeContainer.parentElement.dataset.post
        const $likeButtonLiked = $likeContainer.querySelector('.like-button.liked')
        const $likeButton = $likeContainer.querySelector('.like-button')
        $likeButtonLiked.onclick = () => handleLikeClick(postId, { isLiked: true })
        $likeButton.onclick = () => handleLikeClick(postId, { isLiked: false })
    })
</script>