{% for post in posts %}
    <div class="card">
        <h5 class="card-title mb-0 py-2"><a href="{% url 'profile' post.author.username %}">{{post.author}}</a></h5>
        <p class="card-text mb-0 py-2">{{post.content}}</p>
        <p class="text-muted mb-0 py-2">{{post.timestamp}}</p>
        <div class="likes">
            <img src="../../static/icons/heart.svg" width="24" height="24" class="my-2">
            <span>0</span>
        </div>
    </div>
{% endfor %}
<nav aria-label="Tweets pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if not pagination.is_first_page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagination.previous_page }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
        {% endif %}
        {% for page_button in pagination.page_buttons %}
            {% if page_button == pagination.page_number %}
                <li class="page-item active"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>                
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>
            {% endif %}
        {% endfor %}
        {% if not pagination.is_last_page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagination.next_page }}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>