{% for post in posts %}
    <div class="card position-relative">
        <h5 class="card-title mb-0 py-2"><a href="{% url 'profile' post.author.username %}">{{post.author}}</a></h5>
        <div class="edit-post"></div>
        <p class="content card-text mb-0 py-2">{{ post.content }}</p>
        <div class="dates">
            <span class="text-muted mb-0 py-2 creation-date">{{ post.creation_date }}</span>
            {% if post.last_edit_date %}
                <span class="text-muted mb-0 edit-date">Edited on: {{ post.last_edit_date }}</span>
            {% endif %}
        </div>
        <div class="likes">
            <img src="../../static/icons/heart.svg" width="24" height="24" class="my-2">
            <span>0</span>
        </div>
        {% if post.author.username == username %}
            <input data-post="{{ post.id }}" class="edit-button btn btn-light position-absolute" style="width: fit-content; top: 5; right: 12px;" type="submit" value="Edit">
        {% endif %}
    </div>
{% endfor %}
{% if posts %}
<nav aria-label="Tweets pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if not pagination.is_first_page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagination.previous_page }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
        {% endif %}
        {% for page_button in pagination.page_buttons %}
            {% if page_button == pagination.page_number %}
                <li class="page-item active"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>                
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_button }}">{{page_button}}</a></li>
            {% endif %}
        {% endfor %}
        {% if not pagination.is_last_page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagination.next_page }}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<script>
    const $ = (selector) => document.querySelector(selector)
    const $$ = (selector) => document.querySelectorAll(selector)
    const mimicBackendTimestampt = () => {
        const utcNow =  new Date()
        utcNow.setMinutes(utcNow.getMinutes() + utcNow.getTimezoneOffset());
        const date = new Date(utcNow);

        const options = {
            month: "short",      // "Nov" for November
            day: "numeric",      // Day of the month without leading zero
            year: "numeric",     // Full year
            hour: "numeric",     // Hour (12-hour format)
            minute: "2-digit",   // Minute with leading zero
            hour12: true         // 12-hour format with a.m./p.m.
        };

        const formattedDate = new Intl.DateTimeFormat("en-US", options).format(date);
        const dividedString = formattedDate.split(' ')
        const monthIndex = 0
        const hour12FormatIndex = dividedString.length - 1
        const { 0: month, [hour12FormatIndex]: hour12Format } = dividedString
        const formattedMonth = month.concat('.')
        const formattedHour12Format = hour12Format.toLowerCase().split('').join('.').concat('.')
        const dividedStringWithoutEdgeIndexes = dividedString.slice(1, dividedString.length - 1)
        const result = [formattedMonth, ...dividedStringWithoutEdgeIndexes, formattedHour12Format].join(' ')
        return result
    }


    const putPost = (postId, content, csrftoken) => {
        return fetch(`/edit-post/${postId}`, {
            method: 'PUT',
            headers: { 'X-CSRFToken': csrftoken },
            body: JSON.stringify({ content }),
            mode: 'same-origin',
        }).then(res => res)
    }

    const handleCancelEdit = (postId) => {
        const $editButton = $(`input[data-post='${postId}']`)
        $editButton.style.display = 'block'
        const $editFormContainer = $editButton.parentElement.querySelector('.edit-post')
        $editFormContainer.style.display = 'none'
        const $contentParagraph = $editButton.parentElement.querySelector('.content')
        $contentParagraph.style.display = 'block'
    }

    const handleSubmitEdit = (postId, content) => {
        const $editButton = $(`input[data-post='${postId}']`)
        $editButton.style.display = 'block'
        const $editFormContainer = $editButton.parentElement.querySelector('.edit-post')
        $editFormContainer.style.display = 'none'
        const $contentParagraph = $editButton.parentElement.querySelector('.content')
        $contentParagraph.style.display = 'block'
        const csrftoken = $('[name=csrfmiddlewaretoken]').value;

        putPost(postId, content, csrftoken).then((response => {
            if (response.ok) {
                $contentParagraph.innerText = content
                const $post = $editButton.parentElement
                let $editDate = $post.querySelector('.edit-date')
                if (!$editDate) {
                    const $createdEditDate = document.createElement('span')
                    $createdEditDate.classList.add('text-muted', 'mb-0', 'edit-date')
                    $post.querySelector('.dates').appendChild($createdEditDate)
                    $editDate = $createdEditDate
                }
                $editDate.innerText = `Edited on: ${mimicBackendTimestampt()}`
            }
        }))
        return false
    }

    const $buttons = $$(".edit-button")

    $buttons.forEach($button => {
        $button.onclick = () => {
            const postId = $button.dataset.post
            const $contentParagraph = $button.parentElement.querySelector('.content')
            const content = $contentParagraph.innerText
            $$('.content').forEach((elem) => elem.style.display = 'block')
            $$('.edit-post').forEach((elem) => elem.style.display = 'none')
            $contentParagraph.style.display = 'none'
            $buttons.forEach((elem) => elem.style.display = 'block')
            const $editFormContainer = $button.parentElement.querySelector('.edit-post')
            $editFormContainer.style.display = 'block'
            $editFormContainer.innerHTML = `
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="PUT"/>
                    <textarea
                        name="edit-post"
                        class="edit-post-form"
                        required
                    ></textarea>
                    <div>     
                        <input class="submit-edit btn btn-primary mt-3" style="width: fit-content;" type="submit" value="Update">               
                        <input class="cancel-edit btn btn-danger mt-3" style="width: fit-content;" type="button" value="Cancel">
                    </div>
                </form>
            `
            $button.style.display = 'none'
            const $editPostForm = $editFormContainer.querySelector('.edit-post-form')
            $editPostForm.value = content
            $editPostForm.focus()
            $editFormContainer.querySelector('.cancel-edit').onclick = () => handleCancelEdit(postId)
            $editFormContainer.querySelector('.submit-edit').onclick = () => handleSubmitEdit(postId, $editPostForm.value)
        }
    })
</script>