body {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.likes {
  & span {
    vertical-align: middle;
  }
}

.edit-date {
  font-size: 10px;
}

.dates {
  display: flex;
  flex-direction: column;
}